.ContentArea {
    padding-left: 10%;
    padding-right: 10%;
}

.MyChategories {
    border: solid black;
<<<<<<< HEAD
    min-height: 550px;
    margin-bottom: 70px !important;
=======
    /* min-height: 550px;
    margin-bottom: 60px; */
>>>>>>> 67b105a18b3ec72ba155991e3891440e47550e9d
    background-color: red;
}