.ContentArea {
    padding-left: 10%;
    padding-right: 10%;
}

.SearchResults {
    border: 2px solid;
    border-radius: 16px;
    min-height: 550px;
    margin-bottom: 6px;
    background-color: white;
}