.ContentArea {
    padding-left: 10%;
    padding-right: 10%;
}

.MyChatsDiv {
    border: solid black;
    border-radius: 16px;
    min-height: 650px;
    margin-bottom: 6px;
    background-color:white;
}