.ContentArea {
  padding-left: 3%;
  padding-right: 3%;
}

.PageTitle {
  text-align: center;
}

.AlignRight {
  text-align: right;
  padding: 0px !important;
}

.AlignCenter {
  text-align: center !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.NoPadding {
  padding: 0px !important;
}

ul, li {
  text-align: left;
  list-style: none;
}
p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}
.message {
  display: flex;
  align-items: center;
}
.sent {
  flex-direction: row-reverse;
}
.sent p {
  color: white;
  background: #0B93F6;
  align-self: flex-end;
}
.received p {
  background: #E5E5EA;
  color: black;
}
.chatImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

.MyChategories {
  margin-bottom: 0px !important;
}