
.PageTitle {
    text-align: center;
  }
  
  .AlignRight {
    text-align: right;
    padding: 0px !important;
  }
  
  .AlignCenter {
    text-align: center !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  
  .NoPadding {
    padding: 0px !important;
  }