h6 {
    display: inline;
}

.TopBottomMargin {
    margin-top: 12px;
    margin-bottom: 65px;
}

.TextFieldPadding {
    padding-left: 4% !important;
    padding-right: 4% !important;
}

.chategory {
    width: 100%;
    padding: 3 auto;
    border: 1px solid aqua;
    color: blue;
}

.chategory:hover {
    border-color: blue;
}

.chategory:active {
    color: purple;
}