.ContentArea {
  padding-left: 10%;
  padding-right: 10%;
}

.bioContainer {
  border: 1px solid black;
  border-radius: 16px;
  min-height: 125px;
  margin-bottom: 0px;
  background-color: white;
}

/* .MyChategories {
  border: solid black;
  min-height: 550px;
  margin-bottom: 60px;
  background-color: rgb(158, 147, 147);
} */